/* Place your CSS styles in this file */

p, form, button, h1, h2, h3, h4, ul, ol {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

h1 {
    text-align: center;
}
form {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    width: 60%;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
